# <b>Object & Data Structure<b>

## <b>Basic Data Types

In [1]:
# Integers (int), Float (float), String (str)
# List([]), Dictionary({}), Tuple(()), Set({}), Bool(True, False)

<br>

## <b>Basic Arithmetic

In [2]:
# Addition
1 + 2

# Substraction
2 - 1

# Multiplication
2 * 2

# Divison
3 / 2

# Floor Division
10 // 2

5

In [3]:
# Modulo / Mod
7 % 5

2

In [4]:
# Pow
2 ** 3

8

In [5]:
2 + 10 * 10 + 3

105

In [6]:
(2 + 10) * (10 + 3)

156

In [7]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

<br>

## <b>Variable Assignment

In [8]:
# Dynamic Typing
my_dog = 2
my_dog = "Sammy"
print(my_dog)
type(my_dog)

Sammy

str

<br>

## <b>String

### Basic

In [9]:
'hello'

'hello'

In [10]:
'this is string'

'this is string'

In [11]:
"Double quote string"

'Double quote string'

In [12]:
"I'm Shang-chi"

"I'm Shang-chi"

In [13]:
print('Hello this is string with print')
print('\n')
print('Second line')

Hello this is string with print


Second line

In [14]:
len('Hello world')

11

### String Indexing

In [15]:
s = 'Hello World'
s

'Hello World'

In [16]:
# Indexing
s[0]
s[1]
s[-1]

'd'

In [17]:
# 2 until end
s[2:]

'llo World'

In [18]:
# Not including 2
s[:2]

'He'

In [19]:
# From 2 until before 4 whis is 3
s[2:4]

'll'

In [20]:
# Print all string
s[:]

'Hello World'

In [21]:
s[:-1]

'Hello Worl'

In [22]:
# Jump 2 words
s[::2]

'HloWrd'

In [23]:
# From 0 to 7, jumps 2
s[0:7:2]

'HloW'

In [24]:
# Reverse
s[::-1]

'dlroW olleH'

In [25]:
# String is Immutable
name = 'Rom'
# name[0] = 'T' (ERROR)

# Concatenate
last_name = name[1:]
first_name = 'R'
full_name = first_name + last_name

In [26]:
full_name = full_name + 'zi'
print(full_name)

Romzi

In [27]:
# String Multiplication
a = 'r'
a * 10

'rrrrrrrrrr'

In [28]:
# String Concatenate
'2' + '3'

'23'

<br>

### Built-in String

In [29]:
s = 'Hello World'
s.upper()

'HELLO WORLD'

In [30]:
s.lower()

'hello world'

In [31]:
# Split on whitespace
s.split(maxsplit=0)

['Hello World']

In [32]:
# Remove 'l'
s.split('l')

['He', '', 'o Wor', 'd']

In [33]:
# Formating
print('This is a string {}'.format('Inside curly'))

# or same as

print('This is a string' + ' Inside curly')

# print('This is {} {} {}'.format('String')) (ERROR)

print('The {1} {2} {1}'.format('Fox', 'Brown', 'Quick'))
print('The {a} {b} {c}'.format(a = 'Fox', b = 'Brown', c = 'Quick'))

This is a string Inside curly
This is a string Inside curly
The Brown Quick Brown
The Fox Brown Quick

In [34]:
# Float Formatting
result = 100/777
print('The Result is {r:1.5f}'.format(r = result))

The Result is 0.12870

In [35]:
# F-String Format
name = 'Raihan'
age = 20
print(f'My name is {name} age {age}')

My name is Raihan age 20

## <b>List

In [36]:
# List is mutable(element inside a list can changed)
my_list = [1,2,3]
my_list = ['String1', 'String2']
len(my_list)

2

### Indexing

In [37]:
my_list = ['one', 'two', 'three', 4, 5]
my_list[0]
my_list[:3]
my_list[1:]

['two', 'three', 4, 5]

In [38]:
# Concatenate
my_list + ['New item']
my_list

# Permanent Change
my_list = my_list + ['Permanent Item']
my_list

['one', 'two', 'three', 4, 5, 'Permanent Item']

In [39]:
# Doubling not permanent
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'Permanent Item',
 'one',
 'two',
 'three',
 4,
 5,
 'Permanent Item']

In [40]:
my_list[0] = 'New element at 0'
my_list

['New element at 0', 'two', 'three', 4, 5, 'Permanent Item']

In [90]:
# Add new item to last list
my_list.append(10)
my_list.insert(1,10)
my_list

[10, 10, 'two', 'three', 4, 5, 'Permanent Item', 10, 10]

In [43]:
# Pop index 0, default index -1
my_list.pop(0)

'New element at 0'

In [44]:
my_list

[10, 'two', 'three', 4, 5, 'Permanent Item', 10]

In [45]:
# Sort
list_alphabet = ['a','e','r','g']
list_number = [5,3,5,7,2,3,1]

In [46]:
list_alphabet.sort()
list_alphabet

['a', 'e', 'g', 'r']

In [47]:
list_number.sort()
new_list = list_number
new_list

[1, 2, 3, 3, 5, 5, 7]

In [48]:
new_list.reverse()
new_list

[7, 5, 5, 3, 3, 2, 1]

In [49]:
# Nested List
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

matriks = [list_1, list_2, list_3]
matriks

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
matriks[0][1]

2

In [51]:
matriks.pop()

[7, 8, 9]

## <b>Dictionary

- Dictionary = Objects retrieved by key name, unordered, and can't be sorted
- List = Objects retrieved by location index, ordered, can sort and sliced

USE DICTIONARY WHEN YOU WANT RETRIEVED A VALUE WITHOUT POSITION

In [52]:
my_dict = {'key1' : 'value1', 'key2' : 'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [53]:
my_dict['key1']

'value1'

In [91]:
price_lookup = {'apple' : 2.99, 'orange' : 1.99, 'milk' : 5.80}
price_lookup['apple']

2.99

In [55]:
# The element inside dictionary can be anything
my_dict2 = {'k1' : 123, 
'k2' : [0,1,'a'], 
'k3' : {'dictInsideDict' : 'Dictionary2'}}
my_dict2['k3']['dictInsideDict']

'Dictionary2'

In [56]:
my_dict2['k2']

[0, 1, 'a']

In [57]:
my_dict2['k2'][2].upper()

'A'

In [58]:
# Add new Key
my_dict2['k4'] = 300,'a',5.5
my_dict2

{'k1': 123,
 'k2': [0, 1, 'a'],
 'k3': {'dictInsideDict': 'Dictionary2'},
 'k4': (300, 'a', 5.5)}

In [59]:
# Overwrite
my_dict2['k1'] = 'NEW KEY'
my_dict2

{'k1': 'NEW KEY',
 'k2': [0, 1, 'a'],
 'k3': {'dictInsideDict': 'Dictionary2'},
 'k4': (300, 'a', 5.5)}

In [60]:
my_dict2.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [61]:
my_dict2.values()

dict_values(['NEW KEY', [0, 1, 'a'], {'dictInsideDict': 'Dictionary2'}, (300, 'a', 5.5)])

### <b>Tuple

Similar like list, put immutable.

Immutable is useful when to make sure if element don't change

In [62]:
# Immutable (cannot change)
tuple1 = (1, 1, 2, 3)
type(tuple1)

tuple

In [63]:
tuple1[1]

1

In [64]:
# Count 1
tuple1.count(1)

2

In [65]:
# Index first time of 1
tuple1.index(1)

0

In [66]:
# Tuple element cant change
# tuple1[1] = 1

### <b>Sets

In [67]:
# Unordered collection of unique element
x = set()
x.add(1)
x.add(2)
x.add(1) # When we add same element, it wont add it to set. Because it only store unique element
x

{1, 2}

In [68]:
# List to Set (to get unique element)
list1 = [1,2,2,2,2,2,3,4,5]
set(list1)

{1, 2, 3, 4, 5}

In [69]:
# Auto sort
list2 = [8,8,8,8,2,3,2,2,2,1,1,]
set(list2)

{1, 2, 3, 8}

In [70]:
set([1,1,2,3])

{1, 2, 3}

### <b>Files

In [71]:
%%writefile test.Text
Hello, this is a quick test file

Overwriting test.Text

In [72]:
testfile = open('test.Text')

In [73]:
testfile.read()

'Hello, this is a quick test file\n'

In [74]:
# Empty, because nothing left to read
testfile.read()

''

In [75]:
# Start the file to read from index 0
testfile.seek(0)

# Read a file using the reflines method
# testfile.readlines()

0

In [76]:
# To close the file
# testfile.close()

In [77]:
files = open('test.Text', 'w+')

In [78]:
files.write('This is a new line')

18

In [79]:
files.seek(0)
files.read()

'This is a new line'

In [80]:
# Old way to open file
testfile = open('test.Text')
testfile.read()
testfile.close()

In [81]:
# The best way, To avoid error, because forget to close the file use :
with open('test.Text') as my_new_file:
  read = my_new_file.read()

In [82]:
read

'This is a new line'

In [83]:
with open('test.Text',mode='r') as myfile:
  read_file = myfile.read()

In [84]:
with open('test.Text', mode='r') as f:
  print(f.read())

This is a new line

In [85]:
# Automatically close the file
with open('test.Text',mode='a') as f:
  f.write('new line')

In [86]:
with open('test.Text', mode='r') as f:
  read_f = f.readlines()
read_f

['This is a new linenew line']

In [87]:
# Overwrite
with open('test.Text', mode='w') as f:
  f.write('NEW FILE NEW WORD')

In [88]:
with open('test.Text') as f:
  print(f.read())

NEW FILE NEW WORD

In [89]:
with open('test.Text', mode='w') as f:
  f.write('MEOWWW')

with open('test.Text', mode='r') as f:
  print(f.read())

MEOWWW