# <b>Object & Data Structure<b>

## <b>Basic Data Types

In [1]:
# Integers (int), Float (float), String (str)
# List([]), Dictionary({}), Tuple(()), Set({}), Bool(True, False)

<br>

## <b>Basic Arithmetic

In [2]:
# Addition
1 + 2

# Substraction
2 - 1

# Multiplication
2 * 2

# Divison
3 / 2

# Floor Division
10 // 2

5

In [4]:
'2' + '6'

'26'

In [3]:
# Modulo / Mod
7 % 5

2

In [4]:
# Pow
2 ** 3

8

In [5]:
2 + 10 * 10 + 3

105

In [6]:
(2 + 10) * (10 + 3)

156

In [7]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

<br>

## <b>Variable Assignment

In [8]:
# Dynamic Typing
my_dog = 2
my_dog = ['Sammy', 'Frankie']
print(my_dog)
type(my_dog)

['Sammy', 'Frankie']

list

In [9]:
my_income = 100
tax_rate = 0.1

my_taxes = my_income * tax_rate

In [10]:
my_taxes

10.0

<br>

## <b>String

### Basic

In [11]:
'hello'

'hello'

In [12]:
'this is string'

'this is string'

In [13]:
"Double quote string"

'Double quote string'

In [14]:
"I'm Shang-chi"

"I'm Shang-chi"

In [15]:
print('Hello this is string with print')
print('\n')
print('Second line')

Hello this is string with print


Second line

In [16]:
len('Hello world')
len('Hello')

5

### String Indexing

In [17]:
s = 'Hello World'
s

'Hello World'

In [18]:
# Indexing
s[0]
s[1]
s[-1]

'd'

In [19]:
s[9]

'l'

In [20]:
s[-2]

'l'

In [21]:
# 2 until end
s[2:]

'llo World'

In [22]:
# Not including 2
s[:2]

'He'

In [23]:
# From 2 until before 4 whis is 3
s[2:4]

'll'

In [24]:
s[5:9]

' Wor'

In [25]:
# Print all string
s[:]

'Hello World'

In [26]:
# [Start:Stop:Step]
s[::]

'Hello World'

In [27]:
s[:-1]

'Hello Worl'

In [28]:
# Jump 3 words
s[::3]

'HlWl'

In [29]:
# From 0 to before 7, jumps 2
s[0:7:2]

'HloW'

In [30]:
# Reverse
s[::-1]

'dlroW olleH'

In [31]:
# String is Immutable
name = 'Rom'
# name[0] = 'T' (ERROR)

# Concatenate
last_name = name[1:]
first_name = 'R'
full_name = first_name + last_name

In [32]:
full_name = full_name + 'zi'
print(full_name)

Romzi

In [33]:
# String Multiplication
a = 'r'
a * 10

'rrrrrrrrrr'

In [34]:
# String Concatenate
'2' + '3'

'23'

<br>

In [35]:
print("Hello")

Hello

### Built-in String

In [36]:
s = 'Hello World'
s.upper()

'HELLO WORLD'

In [37]:
s.lower()

'hello world'

In [38]:
s[0:5].lower()

'hello'

In [39]:
# Split on whitespace
s.split()

['Hello', 'World']

In [40]:
# Remove 'l'
s.split('l')

['He', '', 'o Wor', 'd']

In [41]:
# Formating
print('This is a string {}'.format('Inside curly'))

# or same as

print('This is a string' + ' Inside curly')

# print('This is {} {} {}'.format('String')) (ERROR)

print('The {1} {2} {1}'.format('Fox', 'Brown', 'Quick'))
print('The {a} {b} {c}'.format(a = 'Fox', b = 'Brown', c = 'Quick'))

This is a string Inside curly
This is a string Inside curly
The Brown Quick Brown
The Fox Brown Quick

In [42]:
print('This is a string {}'.format('INSERTED'))
print('The {0} {2} {0}'.format('Fox', 'Brown', 'Quick'))
print('The {f} {b} {q}'.format(f='fox', b='brown', q='quick'))

This is a string INSERTED
The Fox Quick Fox
The fox brown quick

In [43]:
# Float Formatting
result = 100/777
print('The Result is {r:1.5f}'.format(r = result))

The Result is 0.12870

In [44]:
result = 100/5409
# Rule = Value:width.precision f
print('The result is {r:.3f}'.format(r = result))
print('The result is {r:1.3f}'.format(r = result))

print(f'The result is {result:1.3f}')

The result is 0.018
The result is 0.018
The result is 0.018

In [45]:
# F-String Format
name = 'Raihan'
age = 20
print(f'My name is {name} age {age}')

My name is Raihan age 20

In [46]:
name = "John"
age = 20
print(f'My name is {name} my age {age}')

My name is John my age 20

## <b>List

In [47]:
# List is mutable(element inside a list can changed)
my_list = [1,2,3]
my_list = ['String1', 'String2']
my_list = [4,5,6]
my_list = [1, 'String', 2, 'Hello']
len(my_list)

4

### Indexing

In [48]:
my_list = ['one', 'two', 'three', 4, 5]
print(f'{my_list[::-1]}')

[5, 4, 'three', 'two', 'one']

In [49]:
# Concatenate
another_list = [6, 7]
my_list + another_list


# Mutable
my_list[0] = 'Change Element 0'

# Insert at the end of list, permanent change
my_list.append('Last Element')

In [50]:
my_list

['Change Element 0', 'two', 'three', 4, 5, 'Last Element']

In [51]:
# Concatenate
my_list + ['New item']
my_list

# Permanent Change
my_list = my_list + ['Permanent Item']
my_list

['Change Element 0', 'two', 'three', 4, 5, 'Last Element', 'Permanent Item']

In [52]:
# Doubling not permanent
my_list * 2

['Change Element 0',
 'two',
 'three',
 4,
 5,
 'Last Element',
 'Permanent Item',
 'Change Element 0',
 'two',
 'three',
 4,
 5,
 'Last Element',
 'Permanent Item']

In [53]:
my_list[0] = 'New element at 0'
my_list

['New element at 0', 'two', 'three', 4, 5, 'Last Element', 'Permanent Item']

In [54]:
# Add new item to last list
my_list.append(10)

# Insert at index 1, a 11
my_list.insert(1,11)
my_list

['New element at 0',
 11,
 'two',
 'three',
 4,
 5,
 'Last Element',
 'Permanent Item',
 10]

In [55]:
# Pop index 0, default index -1
my_list.pop()

10

In [56]:
my_list

['New element at 0',
 11,
 'two',
 'three',
 4,
 5,
 'Last Element',
 'Permanent Item']

In [57]:
# Sort
list_alphabet = ['b','a','d','c']
list_number = [5,3,5,7,2,3,1]

In [58]:
list_alphabet.sort()
new_list_alphabet = list_alphabet
new_list_alphabet

['a', 'b', 'c', 'd']

In [59]:
list_number.sort()
new_list = list_number
new_list

[1, 2, 3, 3, 5, 5, 7]

In [60]:
new_list.reverse()
new_list

[7, 5, 5, 3, 3, 2, 1]

In [61]:
new_list[::-1]

[1, 2, 3, 3, 5, 5, 7]

In [62]:
# Nested List
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

matriks = [list_1, list_2, list_3]
matriks

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [63]:
matriks[0][1]

2

In [64]:
matriks.pop()

[7, 8, 9]

## <b>Dictionary

- Dictionary = Objects retrieved by key name, unordered, and can't be sorted
- List = Objects retrieved by location index, ordered, can sort and sliced

USE DICTIONARY WHEN YOU WANT RETRIEVED A VALUE WITHOUT POSITION/INDEX

In [65]:
# Rule {KEY:VALUE}

In [66]:
my_dict = {'key1' : 'value1', 'key2' : 'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [67]:
# my_dict['value1'] (ERROR)

In [68]:
my_dict['key1']

'value1'

In [69]:
price_lookup = {'apple' : 2.99, 'orange' : 1.99, 'milk' : 5.80}
price_lookup['apple']

2.99

In [70]:
# The element inside dictionary can be anything
my_dict2 = {'k1' : 123, 
'k2' : [0,1,'a'], 
'k3' : {'dictInsideDict' : 'Dictionary2'}}
my_dict2['k3']['dictInsideDict']

'Dictionary2'

In [71]:
my_dict2['k2']

[0, 1, 'a']

In [72]:
my_dict2['k2'][0]

0

In [73]:
my_dict2['k2'][2].upper()

'A'

In [74]:
# Add new Key
my_dict2['k4'] = 300,'a',5.5
my_dict2

{'k1': 123,
 'k2': [0, 1, 'a'],
 'k3': {'dictInsideDict': 'Dictionary2'},
 'k4': (300, 'a', 5.5)}

In [75]:
# Overwrite
my_dict2['k1'] = 'NEW VALUE'
my_dict2

{'k1': 'NEW VALUE',
 'k2': [0, 1, 'a'],
 'k3': {'dictInsideDict': 'Dictionary2'},
 'k4': (300, 'a', 5.5)}

In [76]:
my_dict2.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [77]:
my_dict2.values()

dict_values(['NEW VALUE', [0, 1, 'a'], {'dictInsideDict': 'Dictionary2'}, (300, 'a', 5.5)])

In [78]:
my_dict2.items()

dict_items([('k1', 'NEW VALUE'), ('k2', [0, 1, 'a']), ('k3', {'dictInsideDict': 'Dictionary2'}), ('k4', (300, 'a', 5.5))])

### <b>Tuple

Similar like list, but immutable.

Immutable is useful when to make sure if element don't change

In [79]:
# Immutable (cannot change)
tuple1 = (1, 1, 2, 3)
type(tuple1)

tuple

In [80]:
tuple1[1]

1

In [81]:
# Count 1
tuple1.count(2)

1

In [82]:
# Index first time of 1
tuple1.index(1)

0

In [83]:
# Tuple element cant change
# tuple1[1] = 1

### <b>Sets

In [84]:
# Unordered collection of unique element
x = set()
x.add(1)
x.add(2)
x.add(1) # When we add same element, it wont add it to set. Because it only store unique element
x

{1, 2}

In [85]:
y = {1,2,3,4}
type(y)

set

In [86]:
x.pop()
x

{2}

In [87]:
# List to Set (to get unique element)
list1 = [1,2,2,2,2,2,3,4,5]
set(list1)

{1, 2, 3, 4, 5}

In [88]:
# Auto sort
list2 = [8,8,8,8,2,3,2,2,2,1,1,]
set(list2)

{1, 2, 3, 8}

In [89]:
set([1,1,2,3])

{1, 2, 3}

In [90]:
b = None
b = True
b = False
b

False

### <b>Files

In [91]:
%%writefile test.txt
Hello, this is a quick test file

Overwriting test.txt

In [92]:
test = open('test.txt')

In [93]:
test.read()

'Hello, this is a quick test file\n'

In [94]:
# Empty, because nothing left to read
test.read()

''

In [95]:
# Start the file to read from index 0
test.seek(0)

# Read a file using the reflines method, masukin ke list
test.readlines()

['Hello, this is a quick test file\n']

In [96]:
# To close the file
test.close()

In [97]:
files = open('test.txt', 'w+')

In [98]:
files.write('This is a new line')

18

In [99]:
files.seek(0)
files.read()

'This is a new line'

In [109]:
# Old way to open file
testfile = open('test.txt')
testfile.read()
testfile.close()

In [117]:
# The best way, To avoid error, because forget to close the file use :
with open('test.txt') as my_new_file:
  read = my_new_file.read()
  print(read)

MEOWWW

In [ ]:
%%writefile test.txt
Hello, my name is Raihan Romzi.
My age is 20 years old.

Overwriting test.txt

In [112]:
with open('test.txt', mode='r') as test:
    print(test.read())

This is a new line

In [ ]:
with open('test.Text',mode='r') as myfile:
  read_file = myfile.read()

In [ ]:
with open('test.Text', mode='r') as f:
  print(f.read())

This is a new line

In [ ]:
# Automatically close the file, a = append, write/append on last
with open('test.txt',mode='a') as f:
  f.write('new line')

In [ ]:
with open('test.txt', mode='r') as f:
  read_f = f.readlines()
read_f

['Hello, my name is Raihan Romzi.\n',
 'My age is 20 years old.\n',
 'new linenew linenew linenew linenew line']

In [ ]:
read_f.pop()

'new linenew linenew linenew linenew line'

In [ ]:
# Overwrite
with open('test.Text', mode='w') as f:
  f.write('NEW FILE NEW WORD')

In [114]:
with open('test.txt') as f:
  print(f.read())

MEOWWW

In [113]:
with open('test.txt', mode='w') as f:
  f.write('MEOWWW')

with open('test.txt', mode='r') as f:
  print(f.read())

MEOWWW

In [ ]:
with open('helloWorld.txt', mode='w') as helloWorld:
    helloWorld.write('Hello World')

with open('helloWorld.txt', mode='r') as helloWorld:
    print(helloWorld.read())

with open('helloWorld.txt', mode='a') as helloWorld:
    helloWorld.write('\nMy name is Raihan Romzi')

with open('helloWorld.txt', mode='r') as helloWorld:
    print(helloWorld.readlines())

Hello World
['Hello World\n', 'My name is Raihan Romzi']

In [2]:
print('Hello World')

Hello World