# <b>Object & Data Structure<b>

## <b>Basic Data Types

In [2]:
# Integers (int), Float (float), String (str)
# List([]), Dictionary({}), Tuple(()), Set({}), Bool(True, False)

<br>

## <b>Basic Arithmetic

In [3]:
# Addition
1 + 2

# Substraction
2 - 1

# Multiplication
2 * 2

# Divison
3 / 2

# Floor Division
10 // 2

5

In [4]:
# Modulo / Mod
7 % 5

2

In [5]:
# Pow
2 ** 3

8

In [6]:
2 + 10 * 10 + 3

105

In [7]:
(2 + 10) * (10 + 3)

156

In [8]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

<br>

## <b>Variable Assignment

In [9]:
# Dynamic Typing
my_dog = 2
my_dog = "Sammy"
print(my_dog)
type(my_dog)

Sammy

str

<br>

## <b>String

### Basic

In [10]:
'hello'

'hello'

In [11]:
'this is string'

'this is string'

In [12]:
"Double quote string"

'Double quote string'

In [13]:
"I'm Shang-chi"

"I'm Shang-chi"

In [14]:
print('Hello this is string with print')
print('\n')
print('Second line')

Hello this is string with print


Second line

In [15]:
len('Hello world')

11

### String Indexing

In [16]:
s = 'Hello World'
s

'Hello World'

In [17]:
# Indexing
s[0]
s[1]
s[-1]

'd'

In [18]:
# 2 until end
s[2:]

'llo World'

In [19]:
# Not including 2
s[:2]

'He'

In [20]:
# From 2 until before 4 whis is 3
s[2:4]

'll'

In [21]:
# Print all string
s[:]

'Hello World'

In [22]:
s[:-1]

'Hello Worl'

In [23]:
# Jump 2 words
s[::2]

'HloWrd'

In [24]:
# From 0 to 7, jumps 2
s[0:7:2]

'HloW'

In [25]:
# Reverse
s[::-1]

'dlroW olleH'

In [26]:
# String is Immutable
name = 'Rom'
# name[0] = 'T' (ERROR)

# Concatenate
last_name = name[1:]
first_name = 'R'
full_name = first_name + last_name

In [27]:
full_name = full_name + 'zi'
print(full_name)

Romzi

In [28]:
# String Multiplication
a = 'r'
a * 10

'rrrrrrrrrr'

In [29]:
# String Concatenate
'2' + '3'

'23'

<br>

### Built-in String

In [30]:
s = 'Hello World'
s.upper()

'HELLO WORLD'

In [31]:
s.lower()

'hello world'

In [32]:
# Split on whitespace
s.split(maxsplit=0)

['Hello World']

In [33]:
# Remove 'l'
s.split('l')

['He', '', 'o Wor', 'd']

In [34]:
# Formating
print('This is a string {}'.format('Inside curly'))

# or same as

print('This is a string' + ' Inside curly')

# print('This is {} {} {}'.format('String')) (ERROR)

print('The {1} {2} {1}'.format('Fox', 'Brown', 'Quick'))
print('The {a} {b} {c}'.format(a = 'Fox', b = 'Brown', c = 'Quick'))

This is a string Inside curly
This is a string Inside curly
The Brown Quick Brown
The Fox Brown Quick

In [35]:
# Float Formatting
result = 100/777
print('The Result is {r:1.5f}'.format(r = result))

The Result is 0.12870

In [36]:
# F-String Format
name = 'Raihan'
age = 20
print(f'My name is {name} age {age}')

My name is Raihan age 20

## <b>List

In [37]:
# List is mutable(element inside a list can changed)
my_list = [1,2,3]
my_list = ['String1', 'String2']
len(my_list)

2

### Indexing

In [38]:
my_list = ['one', 'two', 'three', 4, 5]
my_list[0]
my_list[:3]
my_list[1:]

['two', 'three', 4, 5]

In [39]:
# Concatenate
my_list + ['New item']
my_list

# Permanent Change
my_list = my_list + ['Permanent Item']
my_list

['one', 'two', 'three', 4, 5, 'Permanent Item']

In [40]:
# Doubling not permanent
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'Permanent Item',
 'one',
 'two',
 'three',
 4,
 5,
 'Permanent Item']

In [41]:
my_list[0] = 'New element at 0'
my_list

['New element at 0', 'two', 'three', 4, 5, 'Permanent Item']

In [44]:
# Add new item to last list
my_list.append(10)
my_list

['New element at 0', 'two', 'three', 4, 5, 'Permanent Item', '10', '10', 10]

In [52]:
# Pop index 0, default index -1
my_list.pop(0)

4

In [53]:
my_list

[5, 'Permanent Item', '10', '10']

In [55]:
# Sort
list_alphabet = ['a','e','r','g']
list_number = [5,3,5,7,2,3,1]

In [56]:
list_alphabet.sort()
list_alphabet

['a', 'e', 'g', 'r']

In [57]:
list_number.sort()
new_list = list_number
new_list

[1, 2, 3, 3, 5, 5, 7]

In [62]:
new_list.reverse()
new_list

[7, 5, 5, 3, 3, 2, 1]

In [63]:
# Nested List
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

matriks = [list_1, list_2, list_3]
matriks

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [64]:
matriks[0][1]

2

In [65]:
matriks.pop()

[7, 8, 9]

## <b>Dictionary

- Dictionary = Objects retrieved by key name, unordered, and can't be sorted
- List = Objects retrieved by location index, ordered, can sort and sliced

USE DICTIONARY WHEN YOU WANT RETRIEVED A VALUE WITHOUT POSITION

In [72]:
my_dict = {'key1' : 'value1', 'key2' : 'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [75]:
my_dict['key1']

'value1'

In [76]:
price_lookup = {'apple' : 2.99, 'orange' : 1.99, 'milk' : 5.80}
price_lookup['apple']

2.99