In [327]:
# IF-ELSE
hungry = False

if hungry:
    print('Feedme')
else:
    print('Im not hungry')

Im not hungry

In [328]:
print("Where is your location")
loc = input()

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much')

Where is your location
I do not know much

In [329]:
# FOR-LOOP
my_list = [1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    print(f'The number inside list is {}')

SyntaxError: f-string: empty expression not allowed (3335097875.py, line 4)

In [ ]:
for i in range(1,4):
    print('i equal {}'.format(i))

i equal 1
i equal 2
i equal 3

In [ ]:
for i in my_list:
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd number: {i}')

Odd number: 1
2
Odd number: 3

In [ ]:
list_sum = 0
for i in my_list:
    list_sum += i

print(f'Total sum : {list_sum}')

Total sum : 6

In [ ]:
for _ in range (0,4):
    print('cool!')

cool!
cool!
cool!
cool!

In [ ]:
tuple = (1,2,3)
for i in tuple:
    print(i)

1
2
3

In [ ]:
# Unpacking Tuple, so have individual access
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(f'A value {a}, B Value {b}, C Value {c}')

A value 1, B Value 2, C Value 3
A value 4, B Value 5, C Value 6
A value 7, B Value 8, C Value 9

In [ ]:
# Loop in Dictionary

In [ ]:
d = {'k1' : 1, 'k2' : 2}
for value in d.values():
    print(value)

1
2

In [ ]:
for i in range(4):
    for i in range(4):
        print('#',end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [ ]:
for i in range(1):
    print('#',end=" ")
print()
for i in range(2):
    print('#', end=" ")
print()
for i in range(3):
    print('#',end=" ")
print()
for i in range(4):
    print('#',end=" ")

# OR
for i in range(5):
    for j in range(i):
        print('#', end=" ")
        i = i + 1
    print()

print()
# OR
for i in range(4):
    for j in range (4 - i):
        print('#', end=" ")
        i = i - 1
    print()

# OR

#
# #
# # #
# # # #
#
# #
# # #
# # # #

# # # #
# # #
# #
#

In [ ]:
for i in range(4):
    for i in range(i + 1):
        print('#', end=" ")
    print()

#
# #
# # #
# # # #

In [ ]:
for j in range (7):
    if j == 0:
        print(' **  **')
    if j == 1:
        print('*   *   *')
    if j == 2:
        print('*       *')
    if j == 3:
        print(' *     *')
    if j == 4:
        print('  *   *  ')
    if j == 5:
        print('    *   ')

 **  **
*   *   *
*       *
 *     *
  *   *
    *

In [ ]:
for i in range(4):
    for j in range(4):
        print('#',end=' ')
    print()

# # # #
# # # #
# # # #
# # # #

In [ ]:
for i in range(4):
    for j in range (4 - i):
        print('#', end=' ')
    print()

# # # #
# # #
# #
#

In [ ]:
# While Loop
i = 0
while i < 5:
    print(f'{i}', end = ' ')
    i += 1
else:
    print('End')

0 1 2 3 4 End

In [ ]:
# Break, Continue, Pass
x = [1, 2, 3]
for i in x:
    # Avoid syntax error
    pass
print('End code')

End code

In [ ]:
myString = 'Raihan'
for i in myString:
    if i == 'a':
        # Goes to the top/closest loop
        continue
    print(i, end=' ')

R i h n

In [ ]:
myString = 'Raihan Romzi'
for i in myString:
    if i == 'a':
        # Break of the currend loop
        break
    print(i, end=' ')

R

In [ ]:
x = 5
while x < 7:
    if x == 5:
        break
    print(x)
    x += 1

In [333]:
x = []
for i in range(1, 10):
    x.append(i)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [341]:
# Unpack
My_list = [*range(10, 20, 2)]
My_list

[10, 12, 14, 16, 18]

In [346]:
count = 0
for i in 'abcde':
    print(f'At index {count}, the number is {i}')
    count += 1

# NEW WAY
word = 'abcde'

# Become a Tuple
for i, j in enumerate(word):
    print(f'index {i}, word {j}')

At index 0, the number is a
At index 1, the number is b
At index 2, the number is c
At index 3, the number is d
At index 4, the number is e
index 0, word a
index 1, word b
index 2, word c
index 3, word d
index 4, word e

In [12]:
# ZIP
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d']
mylist3 = [100,200,300,400]

# Memasangkan 2 atau lebih list dengan urutan yang sama
zip(mylist1, mylist2)

for i in zip(mylist1, mylist2, mylist3):
    print(i)

# Casting to List
list(zip(mylist1, mylist2, mylist3))

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400)]

In [15]:
# In

2 in [1,2,3]

True

In [17]:
'a' in 'a whole new world'

with open('test.Text') as f:
    print(f.read())

MEOWWW

In [19]:
# Max and Min

max(mylist3)
min(mylist3)

100

In [26]:
# Random
from random import shuffle
from random import randint

In [24]:
mylist = [1,2,3,4,5,6,7,8,9,10]

# Operate Inplace the list
shuffle(mylist)
mylist

[7, 1, 10, 8, 3, 9, 5, 2, 6, 4]

In [29]:
randint(0, 100)
myRandNum = randint(1,2)
myRandNum

1

In [36]:
# Input
num = int(input('Enter number : '))
num = (int) (num)
num

12

In [37]:
# List Comprehensions -> Unique way of quicly creating a list with python
# Alternative without using For Loop

# OLD WAY 
mystring = 'Hello'
mylist = []
for i in mystring:
    mylist.append(i)
mylist

['H', 'e', 'l', 'l', 'o']

In [40]:
# NEW WAY
mylist = [i for i in mystring]
mylist

['H', 'e', 'l', 'l', 'o']

In [42]:
mylist = [i for i in 'HELOAWOAWOK']
mylist

['H', 'E', 'L', 'O', 'A', 'W', 'O', 'A', 'W', 'O', 'K']

In [48]:
# i kuadrat, but took genap number
_list = [i**2 for i in range(0,11) if i % 2 == 0]
_list

[0, 4, 16, 36, 64, 100]

In [52]:
# Complex
celcius = [0, 10, 20, 34.5]
fahrenheit = [(9/5*i) + 32 for i in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [54]:
# One line if-else
result = [x if x%2==0 else 'Odd' for x in range(0,11)]
result

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [56]:
listtt = [i for i in range(0,11)]
listtt

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
# OLD WAY
mylist = []
for i in [2,4,6]:
    for j in [100,200,300]:
        mylist.append(i * j)

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [58]:
# NEW WAY
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]