In [2]:
# IF-ELSE
hungry = True

if hungry:
    print('Feedme')
else:
    print('Im not hungry')

Feedme

In [3]:
if 3 > 2 : 
    print("It's if")

It's if

In [4]:
print("Where is your location")
loc = input()

loc = loc.lower()
if loc == 'auto shop':
    print('Cars are cool!')
elif loc == 'bank':
    print('Money is cool!')
elif loc == 'store':
    print('Welcome to the store!')
else:
    print('I do not know much')

Where is your location
I do not know much

In [5]:
name = 'Raihan'

if name == 'Sammy':
    print('Hello Sammy!')
elif name == 'Frankie':
    print('Hello Frankie!')
else:
    print('Who are you?!')

Who are you?!

In [6]:
# FOR-LOOP
my_list = [1,2,3,4,5]
for i in my_list:
    print(i, end=' ')

1 2 3 4 5

In [7]:
# Even number
my_num = [1,2,3,4,5,6,7,8,9,10]
for i in my_num:
    if i % 2 == 0:
        print(i, end=' ')

2 4 6 8 10

In [8]:
# Sum Calculator
total = 0
for i in my_num:
    total = total + i
print(f'Total is {total}')

Total is 55

In [9]:
my_num.sort(reverse=True)
my_num

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
# Advance way in python
for _ in 'Hello World':
    print('Yo!', end=' ')

Yo! Yo! Yo! Yo! Yo! Yo! Yo! Yo! Yo! Yo! Yo!

In [11]:
for i in range(1,4):
    print('i equal {}'.format(i))

i equal 1
i equal 2
i equal 3

In [12]:
for i in my_list:
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd number: {i}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5

In [13]:
list_sum = 0
for i in my_list:
    list_sum += i

print(f'Total sum : {list_sum}')

Total sum : 15

In [14]:
for _ in range (0,4):
    print('cool!')

cool!
cool!
cool!
cool!

In [15]:
tuple = (1,2,3)
for i in tuple:
    print(i)

1
2
3

In [16]:
# Unpacking Tuple, so have individual access
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(f'A value {a}, B Value {b}, C Value {c}')

A value 1, B Value 2, C Value 3
A value 4, B Value 5, C Value 6
A value 7, B Value 8, C Value 9

In [17]:
for i in range(0,3):
    print(i)

0
1
2

In [18]:
# Loop in Dictionary, but unorderen
d = {'k1' : 1, 'k2' : 2}
for value in d.values(): # d.item() # d.keys()
    print(value)

1
2

In [19]:
for i in range(4):
    for i in range(4):
        print('#',end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [20]:
for i in range(1):
    print('#',end=" ")
print()
for i in range(2):
    print('#', end=" ")
print()
for i in range(3):
    print('#',end=" ")
print()
for i in range(4):
    print('#',end=" ")

# OR
for i in range(5):
    for j in range(i):
        print('#', end=" ")
        i = i + 1
    print()

print()
# OR
for i in range(4):
    for j in range (4 - i):
        print('#', end=" ")
        i = i - 1
    print()

# OR

#
# #
# # #
# # # #
#
# #
# # #
# # # #

# # # #
# # #
# #
#

In [21]:
for i in range(4):
    for i in range(i + 1):
        print('#', end=" ")
    print()

#
# #
# # #
# # # #

In [22]:
for j in range (7):
    if j == 0:
        print(' **  **')
    if j == 1:
        print('*   *   *')
    if j == 2:
        print('*       *')
    if j == 3:
        print(' *     *')
    if j == 4:
        print('  *   *  ')
    if j == 5:
        print('    *   ')

 **  **
*   *   *
*       *
 *     *
  *   *
    *

In [23]:
for i in range(4):
    for j in range(4):
        print('#',end=' ')
    print()

# # # #
# # # #
# # # #
# # # #

In [24]:
for i in range(4):
    for j in range (4 - i):
        print('#', end=' ')
    print()

# # # #
# # #
# #
#

In [25]:
my_list2 = list(range(5))
my_list2

[0, 1, 2, 3, 4]

In [26]:
for i in range(3):
    for j in range(4):
        print('#', end=' ')
    print()

# # # #
# # # #
# # # #

In [27]:
for i in range(3):
    for j in range (3 - i):
        print('#', end=' ')
    print()

# # #
# #
#

In [28]:
for i in range(3):
    for i in range (1 + i):
        print('#', end=' ')
    print()

#
# #
# # #

In [29]:
# While - Else Loop
i = 0
while i < 10:
    print(f'{i}', end = ' ')
    # print('Number {}'.format(i))
    i += 1
else:
    print('End')

0 1 2 3 4 5 6 7 8 9 End

In [30]:
# Break, Continue, Pass
x = [1, 2, 3]
for i in x:
    # Avoid syntax error
    pass
print('End code')

End code

In [31]:
myString = 'Raihan'
for i in myString:
    if i == 'a':
        # Goes to the top/closest loop
        continue
    print(i, end=' ')

R i h n

In [32]:
myString = 'Raihan Romzi'
for i in myString:
    if i == 'a':
        # Break of the current loop
        break
    print(i, end=' ')

R

In [33]:
for i in range(1, 10):
    if i == 2:
        continue
    print(i, end=' ')

1 3 4 5 6 7 8 9

In [34]:
x = 5
while x < 7:
    if x == 5:
        break
    print(x)
    x += 1

In [35]:
x = []
for i in range(1, 10, 2):
    x.append(i)
x

[1, 3, 5, 7, 9]

In [36]:
# Unpack
My_list = [*range(10, 20, 2)]
My_list

[10, 12, 14, 16, 18]

In [37]:
My_list = list(range(10,20,2))
type(My_list)

list

In [38]:
count = 0
for i in 'abcde':
    print(f'At index {count}, the number is {i}')
    count += 1

# NEW WAY
word = 'abcde'

# Become a Tuple
for i, j in enumerate(word):
    print(f'index {i}, word {j}')

At index 0, the number is a
At index 1, the number is b
At index 2, the number is c
At index 3, the number is d
At index 4, the number is e
index 0, word a
index 1, word b
index 2, word c
index 3, word d
index 4, word e

In [39]:
my_dict = {'k1': 1, 'k2' : 2}
for i in my_dict.values():
    print(i)

1
2

In [40]:
# ZIP
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d']
mylist3 = [100,200,300,400]

# Memasangkan 2 atau lebih list dengan urutan yang sama
zip(mylist1, mylist2)

for i in zip(mylist1, mylist2, mylist3):
    print(i)

# Casting to List
new_list = list(zip(mylist1, mylist2, mylist3))
new_list

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400)]

In [41]:
for i, j, k in new_list:
    print(f'{i}{j}{k}')

1a100
2b200
3c300
4d400

In [42]:
# In

2 in [1,2,3]

True

In [43]:
'a' in 'a whole new world'

True

In [44]:
# Max and Min

max(mylist3)

400

In [45]:
min(mylist3)

100

In [46]:
# Random
from random import shuffle
from random import randint

In [47]:
mylist = [1,2,3,4,5,6,7,8,9,10]

# Operate Inplace the list
shuffle(mylist)
mylist

[4, 1, 6, 8, 2, 3, 10, 5, 7, 9]

In [48]:
randint(0, 100)
myRandNum = randint(1,10)
myRandNum

8

In [49]:
# Input
num = int(input('Enter number : '))
type(num)

int

In [50]:
# List Comprehensions -> Unique way of quicly creating a list with python
# Alternative without using For Loop

# OLD WAY 
mystring = 'Hello'
mylist = []
for i in mystring:
    mylist.append(i)
mylist

['H', 'e', 'l', 'l', 'o']

In [51]:
# NEW WAY
mylist = [i for i in mystring]
mylist

['H', 'e', 'l', 'l', 'o']

In [52]:
mylist = [i for i in 'HELOAWOAWOK']
mylist

['H', 'E', 'L', 'O', 'A', 'W', 'O', 'A', 'W', 'O', 'K']

In [53]:
# i kuadrat, but took genap number
_list = [i**2 for i in range(0,11) if i % 2 == 0]
_list

[0, 4, 16, 36, 64, 100]

In [54]:
# Complex
celcius = [0, 10, 20, 34.5]
fahrenheit = [(9/5*i) + 32 for i in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [55]:
# One line if-else
result = [x if x%2==0 else 'Odd' for x in range(0,11)]
result

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [56]:
listtt = [i for i in range(0,11)]
listtt

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
# OLD WAY
mylist = []
for i in [2,4,6]:
    for j in [100,200,300]:
        mylist.append(i * j)

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [58]:
# NEW WAY
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [59]:
my_list = [['A', 10], ['B', 20]]